td, table, tr, thead, th{
    margin: 0; padding: 0;
}
thead{
    background-color:#0eb107; color:ghostwhite; font-weight:normal; border-bottom:3px solid gray; 
}
th{
    font-weight:normal; height:30px; text-align:left; padding: 5px 5px 5px 5px; border-left:1px solid gray; border-right:1px solid gray;
}
th:first-of-type{
    border-left:none;
}
th:last-of-type{
    border-right:none;
}
table{
    border-collapse:collapse; padding: 5px 30px 0px 0px; margin: 10px;
}
td{
    height:15px; width:130px; border-left: 1px solid gray; border-right: 1px solid gray; padding: 5px 5px 5px 5px;
}
td:first-of-type{
    border-left:none; border-right:none;
}
td:last-of-type{
    border-left:none; border-right:none;
}
tr:nth-child(2n){
    background-color:#eeeeee;
}
img{
    padding-right: 5px;
}
