html,
body,
div,
h2,
h3,
p,
a
{
	margin: 0;
	padding: 0;
}

@mixin linear-gradient($from-color,$from-pos,$to-color,$to-pos) 
{
    background: $to-color;
    background: -moz-linear-gradient(top, $from-color $from-pos, $to-color $to-pos);
    background: -webkit-gradient(linear, left top, left bottom, color-stop($from-pos,$from-color), color-stop($to-pos,$to-color));
    background: -webkit-linear-gradient(top, $from-color $from-pos,$to-color $to-pos);
    background: -o-linear-gradient(top, $from-color $from-pos,$to-color $to-pos);
    background: -ms-linear-gradient(top, $from-color $from-pos,$to-color $to-pos);
    background: linear-gradient(to bottom, $from-color $from-pos,$to-color $to-pos);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='${from-color}', endColorstr='${to-color}',GradientType=0 );
}

body
{
	$default-font-size: 16px;
    $default-font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    $default-font-color: #000;
	font-size: $default-font-size;
	font-family: $default-font-family;
	color: $default-font-color;

	#wrapper
	{
		width: 960px;
		margin-left: 50px;
		margin-top: 50px;
		display: block;

		&:after
		{
			clear: both;
			content: "";
			display: block;
			height: 0;
		}

		& > div
		{
			float: left;
			top: 0px;
			width: 140px;
			height:250px;
			border-top: 2px solid #D3D7DA;
			border-bottom: 2px solid #D3D7DA;
			padding:5px;
			padding-top: 10px;
			
			&:nth-of-type(2n)
			{
				@include linear-gradient(#FFFFFF, 0%, #F1F2F3, 100%);
				border-right: 2px solid #D3D7DA;
				border-left: 2px solid #D3D7DA;
				height: 270px;
			}

			&:nth-of-type(1)
			{
				background: url("imgs/install.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			&:nth-of-type(2)
			{
				background: url("imgs/tuneUp.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			&:nth-of-type(3)
			{
				background: url("imgs/manage.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			&:nth-of-type(4)
			{
				background: url("imgs/openSource.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			&:nth-of-type(5)
			{
				background: url("imgs/twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			&:nth-of-type(6)
			{
				background: url("imgs/about.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			&:first-of-type
			{
				border-left: 2px solid #D3D7DA;
			}

			a
			{
				text-decoration: none;
				color: #C72D2F;
				display: block;

				span
				{
					text-transform: uppercase;
				}
			}

			hgroup
			{
				background-position: left bottom !important;
				display: table-cell;
				height: 40px;
				padding-left: 40px;
				vertical-align: bottom;
			}

			p
			{
				margin-bottom: 5px;
			}
		}
	}
}

.yellowBox 
{
    background-color: #FFFFDD;
    border: 1px solid #FFFF00;
}

body #wrapper div div.yellowBox a
{
	display:inline-block;
}

h2, h3
{
	font-size: 16px;
}

h2{
	padding-bottom: 10px;
}
