html,
body,
div,
form,
fieldset,
legend,
label,
input,
button {
  margin: 0;
  padding: 0; }

body {
  font-size: 18px;
  font-family: Cambria, "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif;
  color: white; }
  body #wrapper {
    width: 960px;
    margin-left: 50px;
    margin-top: 50px; }
    body #wrapper form {
      background: #444444;
      background: -moz-linear-gradient(top, #ebff5b 0%, #444444 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebff5b), color-stop(100%, #444444));
      background: -webkit-linear-gradient(top, #ebff5b 0%, #444444 100%);
      background: -o-linear-gradient(top, #ebff5b 0%, #444444 100%);
      background: -ms-linear-gradient(top, #ebff5b 0%, #444444 100%);
      background: linear-gradient(to bottom, #ebff5b 0%, #444444 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${from-color}', endColorstr='${to-color}',GradientType=0 );
      border: 1px solid #444444;
      border-radius: 15px;
      width: 380px;
      text-align: right;
      padding: 15px; }
      body #wrapper form label {
        display: inline-block;
        margin-top: 10px; }
      body #wrapper form fieldset {
        border: 3px solid #555555;
        border-radius: 5px;
        padding: 5px 15px; }
        body #wrapper form fieldset legend {
          margin-left: 80px;
          padding: 5px 15px;
          font-style: italic;
          font-size: 1.3em;
          font-weight: bold; }
        body #wrapper form fieldset input {
          border: 2px solid #555555;
          border-radius: 5px;
          padding: 5px 15px;
          color: white;
          background: #444444;
          background: -moz-linear-gradient(top, #ebff5b 0%, #444444 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebff5b), color-stop(100%, #444444));
          background: -webkit-linear-gradient(top, #ebff5b 0%, #444444 100%);
          background: -o-linear-gradient(top, #ebff5b 0%, #444444 100%);
          background: -ms-linear-gradient(top, #ebff5b 0%, #444444 100%);
          background: linear-gradient(to bottom, #ebff5b 0%, #444444 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${from-color}', endColorstr='${to-color}',GradientType=0 );
          margin-top: 5px; }
          body #wrapper form fieldset input[type="number"] {
            width: 25px;
            padding: 5px; }
      body #wrapper form button {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 5px;
        font-size: 1.3em;
        color: #333333;
        padding: 5px 15px;
        background: #444444;
        background: -moz-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5ff28), color-stop(100%, #444444));
        background: -webkit-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: -o-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: -ms-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: linear-gradient(to bottom, #e5ff28 0%, #444444 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${from-color}', endColorstr='${to-color}',GradientType=0 ); }
        body #wrapper form button:hover {
          background: #F1FF8E; }
      body #wrapper form input[type="reset"] {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 5px;
        font-size: 1.3em;
        color: #333333;
        padding: 5px 15px;
        margin-top: 15px;
        background: #444444;
        background: -moz-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5ff28), color-stop(100%, #444444));
        background: -webkit-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: -o-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: -ms-linear-gradient(top, #e5ff28 0%, #444444 100%);
        background: linear-gradient(to bottom, #e5ff28 0%, #444444 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${from-color}', endColorstr='${to-color}',GradientType=0 ); }
        body #wrapper form input[type="reset"]:hover {
          background: #F1FF8E; }
      body #wrapper form input[type="radio"] {
        display: none; }
        body #wrapper form input[type="radio"]:checked + label {
          font-weight: bold;
          font-size: 1.1em;
          margin-top: 10px;
          margin-bottom: 10px; }

