@charset "IBM866";
/*
Task 3
�	Resolution-width: 960px
�	font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif
�	font-size: 16px
�	font-family for dates: Consolas
*/
body, div, h1, ul, li, span, p, h1, input, button {
  margin: 0;
  padding: 0; }

body {
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
  width: 960px;
  color: #555; }
  body #wrapper {
    border: 1px solid black;
    border-radius: 15px;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    background: linear-gradient(to bottom, #eeeeee 0%, #aaaaaa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 5px 15px; }
    body #wrapper h1 {
      font-size: 1.8em;
      text-align: center;
      margin: 10px auto; }
    body #wrapper ul {
      list-style-type: none; }
      body #wrapper ul span {
        font-weight: bold;
        font-size: 1.1em;
        display: block; }
      body #wrapper ul li {
        border: 1px solid black;
        border-radius: 15px;
        width: 225px;
        margin: 2px;
        padding: 5px 15px; }
      body #wrapper ul li.me-item {
        float: right;
        background: linear-gradient(to bottom, #28edff 0%, #c1faff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); }
        body #wrapper ul li.me-item > span.date {
          font-family: Consolas;
          font-size: 0.8em;
          font-weight: normal;
          display: block;
          float: right; }
        body #wrapper ul li.me-item > p {
          text-align: left; }
      body #wrapper ul li.toshko-item {
        float: left;
        text-align: left;
        background: linear-gradient(to bottom, #dfffd3 0%, #6fff3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); }
        body #wrapper ul li.toshko-item > span {
          text-align: right; }
          body #wrapper ul li.toshko-item > span.date {
            font-family: Consolas;
            font-size: 0.8em;
            font-weight: normal;
            text-align: left; }
    body #wrapper input {
      background-color: #EEEEEE;
      border: medium none;
      border-radius: 5px;
      color: #555555;
      line-height: 25px;
      padding: 5px 15px;
      width: 70%;
      margin-top: 5px; }
    body #wrapper button {
      background: linear-gradient(to bottom, #eeeeee 0%, #aaaaaa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: medium none;
      border-radius: 5px;
      float: right;
      font-size: 1.1em;
      height: 30px;
      padding: 5px 15px;
      margin-top: 5px; }

